<div class="play" id="multi">
    <table>
        <tr>
            <td style="border-top-color: #14bdac;border-left-color: #14bdac;">
                <svg class="o" aria-label="O" role="img" viewBox="0 0 128 128">
                    <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.6371765136719px; stroke-dashoffset: 0px;"></path>
                </svg>
                <svg class="x" aria-label="X" role="img" viewBox="0 0 128 128">
                    <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                    <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                </svg>
            </td>
            <td style="border-top-color: #14bdac;">
                <svg class="o" aria-label="O" role="img" viewBox="0 0 128 128">
                    <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.6371765136719px; stroke-dashoffset: 0px;"></path>
                </svg>
                <svg class="x" aria-label="X" role="img" viewBox="0 0 128 128">
                    <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                    <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                </svg>
            </td>
            <td style="border-top-color: #14bdac;border-right-color: #14bdac">
                <svg class="o" aria-label="O" role="img" viewBox="0 0 128 128">
                    <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.6371765136719px; stroke-dashoffset: 0px;"></path>
                </svg>
                <svg class="x" aria-label="X" role="img" viewBox="0 0 128 128">
                    <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                    <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                </svg>
            </td>
        </tr>
        <tr>
            <td style="border-left-color: #14bdac;">
                <svg class="o" aria-label="O" role="img" viewBox="0 0 128 128">
                    <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.6371765136719px; stroke-dashoffset: 0px;"></path>
                </svg>
                <svg class="x" aria-label="X" role="img" viewBox="0 0 128 128">
                    <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                    <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                </svg>
            </td>
            <td>
                <svg class="o" aria-label="O" role="img" viewBox="0 0 128 128">
                    <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.6371765136719px; stroke-dashoffset: 0px;"></path>
                </svg>
                <svg class="x" aria-label="X" role="img" viewBox="0 0 128 128">
                    <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                    <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                </svg>
            </td>
            <td style="border-right-color: #14bdac">
                <svg class="o" aria-label="O" role="img" viewBox="0 0 128 128">
                    <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.6371765136719px; stroke-dashoffset: 0px;"></path>
                </svg>
                <svg class="x" aria-label="X" role="img" viewBox="0 0 128 128">
                    <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                    <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                </svg>
            </td>
        </tr>
        <tr>
            <td style="border-left-color: #14bdac;border-bottom-color:#14bdac ">
                <svg class="o" aria-label="O" role="img" viewBox="0 0 128 128">
                    <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.6371765136719px; stroke-dashoffset: 0px;"></path>
                </svg>
                <svg class="x" aria-label="X" role="img" viewBox="0 0 128 128">
                    <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                    <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                </svg>
            </td>
            <td style="border-bottom-color: #14bdac;">
                <svg class="o" aria-label="O" role="img" viewBox="0 0 128 128">
                    <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.6371765136719px; stroke-dashoffset: 0px;"></path>
                </svg>
                <svg class="x" aria-label="X" role="img" viewBox="0 0 128 128">
                    <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                    <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                </svg>
            </td>
            <td style="border-bottom-color: #14bdac;border-right-color: #14bdac">
                <svg class="o" aria-label="O" role="img" viewBox="0 0 128 128">
                    <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.6371765136719px; stroke-dashoffset: 0px;"></path>
                </svg>
                <svg class="x" aria-label="X" role="img" viewBox="0 0 128 128">
                    <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                    <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.76449584960938px; stroke-dashoffset: 0px;"></path>
                </svg>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="/js/logic.js"></script>